{% include "header.html" %}

{% block body %}

    <div class="container">
        <h4 class="text-center" style="font-size: 10vh; font-style: normal;">HandWritten image And Document To Text Using OCR<span style="font-size: 3vh;"></span></h4>
       
        <hr>

       
        <br><br>
        <h2 style="color: blue;">Scan your own image!</h2>

        <div class="text-center">
            <form action="scanner" method=post enctype=multipart/form-data>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="file" class="custom-file-input" id="inputGroupFile01"
                               aria-describedby="inputGroupFileAddon01" accept="image/*">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>

                <br>
                <button type="submit" class="btn btn-raised btn-primary">Scan Image</button>
            </form>
        </div>
    </div>

<!--
    <form action="scanner" method=post enctype=multipart/form-data>
        <input type="file" name="file">
        <input type="submit" value="Scan file">
    </form>
    <hr>
-->

{% if scanned %}
    <hr>
    <h1>Scanned results</h1>
{% endif %}
{% endblock body %}

{% include "footer.html" %}
